{erl_opts, [debug_info]}.
{deps, [
   {jsx, {git, "https://github.com/talentdeficit/jsx.git", {branch, "v2.9.0"}}},
   {eredis, {git, "https://github.com/wooga/eredis.git", {branch, "v1.2.0"}}},
   {cowboy, {git, "https://github.com/ninenines/cowboy.git", {ref,"66fd122c08dd05e2ff2300af963cb977dca2ba7c"}}},
   {mysql, {git, "https://github.com/mysql-otp/mysql-otp", {branch, "1.6.0"}}},
   {poolboy, {git, "https://github.com/devinus/poolboy.git", {branch, "1.5.2"}}}
]}.
%%{relx, [
%%		{release, {erlll_game, "0.0.1"},[erlll_game]},
%%        {extended_start_script, true}
%%       ]
%%}.